@{
    ViewData["Title"] = "Home Page";
}

@model Teste.Models.Busca;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Create</title>
</head>
<body>
    <div class="div-content">
        @using (Html.BeginForm("GetHotels", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Cities)
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Cities, ViewBag.Cidades as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QtdNights)
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.QtdNights, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QtdAdults)
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.QtdAdults, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QtdRooms)
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.QtdRooms, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChildAge)
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChildAge, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateCheckIn)
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.DateCheckIn, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Buscar" class="btn btn-secondary btn-lg btn-block" />
                </div>
            </div>

            @ViewBag.Hotels;
        }

    </div>

</body>
</html>